/* Responsividade */
@media (max-width: 768px) {

    body {
        background-color: #262C3A;
        background-image: none;
    }

    header{
        width: 100%;
    }
    
    .header img {
        padding: 0 2.25rem;
        margin-left: 6%;
    }

    .btn-header {
        display: none;
    }

    .logo-rick {
        width: 28rem;
        margin-left: 46%;
        margin-bottom: 1rem;
        margin-top: 8rem;
    }

    section input {
        width: 19rem;
        padding: 0.8rem; 
        margin-left: 38%;
        font-size: 1rem;
    }

    .btn-sec {
        width: 6rem;
        margin-left: 21%;
        padding: 0.6rem 0; 
        margin-top: -2.8rem;
    }

    .resultados-pesquisa {
        width: 32rem; 
        height: 45vh;
        margin-left: 17rem;
    }

    .item-resultado {
        width: 27.6rem;
        margin-left: 1%;  
        padding: .21rem; 
    }

    .descricao-meta {
        text-align: left;
        font-size: 1rem;
    }

    footer p {
        font-size: 0.9rem; 
    }
}


/* Responsividade para celulares */
@media (max-width: 480px) {
    .header img {
        padding: 0 2.2rem;
        margin-left: 15%;
    }

    .logo-rick {
        width: 22rem;
        margin-left: 66%;
        margin-bottom: .3rem;
    }
    
    section {
        margin-top: 7%;
    }

    section input {
        width: 14rem; 
        font-size: 13px;
        margin-top: 1rem;
        margin-left: 56%;
    }
    
    .btn-sec {
        width: 6rem;
        margin-left: 30%;
        padding: 0.6rem 0; 
        margin-top: -2.5rem;
        font-size: .9375rem;
        border-radius: 12px;
    }

    .resultados-pesquisa {
        width: 50%; 
        height: 75vh; 
        margin-left: 17.2rem;
        margin-bottom: -30px;
    }
    
    .item-resultado img {
        margin: 30px 2% 0;
        height: 14rem;
        padding: 0;
    }
}
