/* Responsividade */
@media screen and (max-width: 768px) {
    body {
        background-color: #262C3A;
        background-image: none;
    }

    header{
        width: 80rem;
    }
    
    .header img {
        padding: 0.1rem 2.75rem;
        margin-left: 18%;
    }

    .btn-header {
        display: none;
    }

    .logo-rick {
        width: 32rem;
        margin: 8rem 0 1rem 13%;
    }

    section input {
        width: 19rem;
        padding: 0.8rem; 
        font-size: 0.95rem;
        margin-left: 66%;
    }

    .btn-sec {
        width: 6rem;
        margin-left: 47%;
        padding: 0.6rem 0; 
        margin-top: -2.8rem;
        font-size: 1.15rem;
    }

    .resultados-pesquisa {
        width: 38rem; 
        height: 45vh;
        margin-left: 13rem;
        margin-top: 2.5rem;
    }

    .item-resultado {
        width: 32rem;
        padding: .98rem;   
        margin-left: 3%;
    }

    .descricao-meta {
        text-align: left;
        font-size: 1.01rem;
    }

    footer {
        width: 75rem;
        margin-left: 15%;
    }

    .icon-media img {
        width: 1.25rem;
    }
  
    footer p {
        font-size: 0.9rem; 
    } 
}


/* Responsividade para celulares */
@media screen and (max-width: 480px) {
    .header img {
        padding: 0 2.2rem;
        margin-left: 32%;
    }

    .logo-rick {
        width: 31rem;
        margin: 25% 0 0.9rem 32% ;
    }
    

    section input {
        width: 18rem; 
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-left: 86%;
    }
    
    .btn-sec {
        width: 6rem;
        margin-left: 65%;
        padding: 0.7rem 0; 
        margin-top: -3rem;
    }

    .resultados-pesquisa {
        width: 61%; 
        height: 78vh; 
        margin-left: 18rem; 
        margin-bottom: -90px; 
    }
    
    .item-resultado img {
        margin: 20px 2% 0;
        height: 14rem;
        padding: 0;
    }

    footer {
        margin-left: 40%;
    }
}
