@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Paleta de cores */
:root {
    --green: #68C545;
    --bluao: #262C3A;
    --bluezinho: #22A2BD;
    --back-pers: #303748;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
     background-image: url('img/fundo-rick.jpg');
        /* height: 90vh;  */
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }
    
    header {
        background: linear-gradient(to right, #262C3A, #000B0E);
        height: 4rem;
        width: 100%;
        padding: 1% 2% 4.5%;
        position: relative;
        top: 0; 
    /* border-bottom: 22px solid linear-gradient(to right, 3% #02323D, 80% #32950D, #296F0E); */
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5%; 
    background: linear-gradient(to right, #02323D 0%, #32950D 50%, #296F0E 100%);
}

.header {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--green);
    color: #171D2C;
    padding: 0.7rem 2rem;
    font-size: 1.25rem;
    margin: 8px 10px;
    border-radius: .9375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.4s;
    box-shadow: 0px 4px 6px rgba(26, 140, 51, 0.872);
}

button:hover {
    background-color: #7fea58;
    color: #171D2C;
    transform: translateY(-9px);
}

/* Definições button login */
.btn-login {
    background-color: transparent;
    border: .125rem solid var(--green);
    border-radius: .9375rem;
    color: var(--green);
    font-weight: 400;
}

.btn-login:hover {
    background-color: var(--green);
    color: #171D2C;
}
/* fim do button-login */

/* início seçoes */
section {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-bottom: 3rem;
}

section img {
    padding: 3rem 37.5rem 2% 0;
}

section input {
    background-color: transparent;
    margin-right: 43.75rem;
    width: 34rem; 
    border: .0625rem solid var(--green); 
    padding: 1rem; 
    border-radius: .9375rem; 
    color: var(--green);
    font-size: 1.2rem; 
    box-sizing: border-box; 
    outline: none;
}        

input::placeholder {
    color: var(--green);
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--bluezinho);
}

.btn-sec {
    width: 7rem; 
    border: .0625rem solid var(--green); 
    padding: 1rem 0; 
    border-radius: .9375rem; 
    font-size: 1.2rem; 
    margin-top: -3.5rem;
}


/*-------- seção dos personagens --------*/
.resultados-pesquisa {
    width: 48rem; 
    /* height: 46vh; */
    overflow-y: auto;
    margin-top: 1rem; 
    padding: 1rem; 
}

.resultados-pesquisa img {
    margin: 30px 0px 0 2px;
    height: 16rem;
    padding: 0;
    /* border: 2px solid rgb(0, 68, 255);
    border-radius:2rem ; */
}

.item-resultado {
    display: flex;
    flex-direction: row;
    width: 40rem;
    background: var(--back-pers); 
    border-radius: 0.6rem; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

h2 {
    font-size: 188.5rem; 
    font-weight: 400;
    font-style: italic;
    color: red;
}

.item-infomacoes {
    padding: 2rem;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
}

.item-infomacoes button {
    margin: 8px 0 10px;
    font-size: 17px;
    padding: 6px 30px;
    border-radius: 0.6rem; 
}

.descricao-meta {
    color: #CEF5FF;
    margin: 0.5rem 0; 
}

/* Estiliza o rodapé da página */
footer {
    background: linear-gradient(to right, #262C3A, #000B0E);
    font-size: 1rem;  
    width: 100%;
    text-align: center;
    color: var(--bluezinho);
    position: absolute;
    bottom: 0; 
    
}

footer::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 2;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to left, #02323D 0%, #32950D 50%, #194508 100%);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 1.8% 0 0 0%; */
    font-weight: 200;
    margin-top: auto; 
}

.icon-media {
        margin-right: 10px;
}
.footer a {
    text-decoration: none;
    color: var(--bluezinho);

}

.footer .icon-media {
    height: 26px;
    display: flex;
    margin: 0 15px 0px 0px;
}

.p-footer {
    margin: 1.6%;
}

/* Estilos para a barra de rolagem */
   ::-webkit-scrollbar {
    width: .61rem;
}

/* Estilos para a alça da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: .7rem;

}

/* Estilos para a alça da barra de rolagem quando passa o mouse por cima */
::-webkit-scrollbar-thumb:hover {
    background-color: #7fd162;
}

/* Estilos para a pista da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #343d4b;

}


/* @media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
        letter-spacing: 0.2rem; 
    }

    section input {
        width: 25rem;
        padding: 0.8rem;
    }

    .resultados-pesquisa {
        width: 40rem; 
        height: 40vh;
    }

    .item-resultado h2 {
        font-size: 1.3rem; 
    }
}


@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; 
        letter-spacing: 0.1rem; 
    }

    section input {
        width: 17rem; 
    }

    section button {
        padding: 0.6rem 1rem; 
        font-size: 0.9rem;
    }

    .resultados-pesquisa {
        width: 90%; 
        height: 50vh; 
    }

    .item-resultado h2 {
        font-size: 1.1rem; 
    }

    footer {
        font-size: 0.9rem; 
    }
} */